* {
    box-sizing: border-box;
}

/* Grid */

.col-1 {width: 12.5%;}
.col-2 {width: 25%;}
.col-3 {width: 37.5%;}
.col-4 {width: 50%;}
.col-5 {width: 62.5%;}
.col-6 {width: 75%;}
.col-7 {width: 87.5%;}
.col-8 {width: 100%;}


[class*="col-"] {
    float: left;
    padding: 0.833em;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


/* Standard Styles */

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body {
	position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px; 
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0em;
	background: whitesmoke;
	height: 100%;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}


textarea {
	resize: none;
}

#content {
	width: 100%;
	float: left;
}

#cover {
    width: 100%;
    height: 700px;
    background: url('/images/cover2.png');
    background-size: cover;
    background-position: center bottom;
}

#login_cover {
	width: 100%;
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-image: url(/images/coverclear.png);
	position: absolute;
}


#header {
	height: 100px;
	width: 100%;
	max-width: 1920px;
}

#header_2 {
	height: 100px;
	width: 100%;
	max-width: 1920px;
	background: white;
	border-bottom: 1px solid #E8E8E8;
}


.top_nav {
	height: 100%;
	width: 70%;
	margin: auto;
}

.top_nav ul {
	height: 100%;
}

.top_nav a {
	float: left;
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	font-family: "roboto";
	font-weight: 100;
	padding: 40px 0px 0px 0px;
	height: 100%;
	width: 25%;
	text-align: center;
    text-decoration: none;
}

.top_nav a:hover {
	color: white;
	-webkit-transition-duration: 0.2s;
    text-decoration: none;
}

.top_nav_2 {
	height: 100%;
	width: 70%;
	margin: auto;
}

.top_nav_2 ul {
	height: 100%;
}

.top_nav_2 a {
	float: left;
	color: rgba(0, 0, 0, 0.48);
	font-size: 16px;
	font-family: "roboto";
	font-weight: 400;
	padding: 40px 0px 0px 0px;
	height: 100%;
	width: 25%;
	text-align: center;
}

.top_nav_2 a:hover {
	color: #2980b9;
	-webkit-transition-duration: 0.2s;
    text-decoration: none;
}

#brand_container {
    box-sizing: border-box;
    display: block;
    width: 12.444em;
    height: 100%;
    float: left;
    margin-left: 1em;
}

#menu {
    margin: auto;
    width: 50%;
    height: 100%;
    display: block;
}

#menu ul {
	margin: 0px;
	padding: 0px;
}

#menu ul a {
	width: 25%;
	text-decoration: none;
	float: left;
	color: #00305A;
	font-family: raleway;
	text-align: center;
}

#menu ul a li{
	list-style-type: none;
	padding: 2.2em 0em;
}

#menu ul a li:hover{
    font-size: 18px;
    margin-top: -6px;
}


.title {
    text-align: center;
    font-family: raleway;
    font-size: 1.4em;
    color: rgba(76, 76, 76, 0.67);
    margin: 20px 0px;
}


.title2 {
    text-align: center;
    font-family: raleway;
    font-size: 1.5em;
    color: #95001D;
}


.top {
	background: #1B1B1B;
	width: 100%;
	height: 20em;
	border-top-right-radius: 7px;
	border-top-left-radius: 7px;
}

.bottom {
	background: white;
	width: 100%;
	height: 20em;
	border-bottom: 1px solid #E4E4E4;
	border-left: 1px solid #E4E4E4;
	border-right: 1px solid #E4E4E4;
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.header_area {
    width: 100%;
    height: 60px;
    background: #151515;
    font-family: raleway;
    font-size: 1.0em;
    color: white;
    text-align: center;
    padding: 1.4em 0.5em 0.5em 0.5em;
    border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    letter-spacing: 0.2em;
}

.container_wide {
	margin: 0px auto 40px auto;
	max-width: 1240px;
	height: 100%;
}

.container_medium {
	margin: 0px auto 40px auto;
	max-width: 900px;
	height: 100%;
}

.container_slick {
	margin: 0px auto 40px auto;
	max-width: 600px;
	height: 100%;
}

.footer_container {
	margin: auto;
	max-width: 1240px;
	height: 100%;
	padding: 0px 25px 0px 25px;
}

#footer {
    width: 100%;
    background: #FBFBFB;
    float: left;
    color: #9A9A9A;
    padding: 14px;
    text-align: center;
    font-family: open sans;
    font-weight: 200;
    font-size: 15px;
    border-top: 1px solid #E6E6E6;
}

.header5 {
    text-align: center;
    color: #C7C7C7;
    font-family: open sans;
    font-size: 0.8em;
}

.seperator {
    padding: 10px;
    font-family: open sans;
    font-size: large;
    width: 96%;
    margin: 0px auto 34px auto;
    color: rgba(0, 0, 0, 0.63);
    font-weight: 100;
    text-align: center;
}

.left_line {
    width: 130%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 13px 0px 0px 0px;
}

.right_line {
    width: 130%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 13px 0px 0px 0px;
    float: right;
}

.price_wrapper {
	margin-bottom: 100px;
}

.logo {
	width: 50px;
	margin: 23px;
	float: left;
    position: fixed;
}

.logo_icon {
	width: 20%;
    display: block;
    margin: 20px auto;
}

.banner_icon {
	width: 22%;
    display: block;
    margin: 20px auto;
}

.flyer_icon {
	width: 16%;
    display: block;
    margin: 20px auto;
}

.visitcard_icon {
	width: 32%;
    display: block;
    margin: 20px auto;
}

.welcome_wrapper h1 {
    color: white;
    font-family: roboto;
    font-size: 45px;
    font-weight: 100;
    text-align: center;
    display: block;
    margin: 0px;
    line-height: 77px;
}
.welcome_wrapper h2 {
    color: white;
    font-family: roboto;
    font-size: 75px;
    font-weight: 400;
    text-align: center;
    margin: -15px auto;
    display: block;
   line-height: 77px;
}

.welcome_wrapper {
	height: 135px;
    width: 100%;
    margin-top: 45px;
}

.welcome_wrapper:hover {
	font-size: 20px;
}

.price {
	color: white;
    font-family: raleway;
    font-size: 65px;
    letter-spacing: -5px;
    font-weight: 100;
}

.order_button {
	background-color: #1B1B1B;
    padding: 8px 18px;
    color: white;
    font-family: open sans;
    margin: 0px auto;
    font-size: 18px;
    text-align: center;
    border-radius: 2px;
    box-sizing: content-box;
    width: 33%;
}

.order_button:hover {
	background-color: #151515;
    cursor: pointer;
}

.item {
	background: #FBFBFB;
    width: 90%;
    min-height: 270px;
    height: 100%;
    margin: auto;
    border: 1px solid gainsboro;
    text-align: center;
}

.item:hover {
	border: 2px solid rgb(169, 202, 218);
    cursor: pointer;
}

.fa.fa-bars {
	display: none;
}

#menu_collapsed {
	display: none ;
}

.social_media {
	float: right;
}

.fa.fa-facebook-square {

	font-size: 25px;
    display: block;
    float: right;
    color: #C3C3C3;

}

.fa.fa-twitter-square {

	font-size: 25px;
    display: block;
    float: right;
	margin: 0px 10px;
	color: #C3C3C3;

}

.fa.fa-google-plus-square {

	font-size: 25px;
    display: block;
    float: right;
	color: #C3C3C3;

}

.fa.fa-facebook-square:hover {
    color: #5C91A9;
    transition-duration: 0.3s;
}

.fa.fa-twitter-square:hover {
    color: #5C91A9;
    transition-duration: 0.3s;
}

.fa.fa-google-plus-square:hover {
    color: #5C91A9;
    transition-duration: 0.3s;
}

/* Scroller */

/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-border-radius: 120px;
    border-radius: 20px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 20px;
    border-radius: 20px;
    background: rgb(191, 191, 191); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgb(191, 191, 191); 
}

.team_login {
	float: left;
	padding: 4px 9px;
	color: rgba(0, 0, 0, 0.63);
	border-radius: 2px;
	font-family: open sans;
    font-weight: 600;
}

.team_login:hover {
	-webkit-transition-duration: 0.2s;
    font-weight: 600;
    color: #2980b9;
}

.category_title {
    width: 100%;
    text-align: center;
    font-family: raleway;
    margin: 20px 0px;
    color: rgba(0, 0, 0, 0.61);
    font-size: 20px;
    font-weight: 500;
}

.fa.fa-archive {
    font-size: 80px;
    width: 100%;
    text-align: center;
    color: #0B3456;
    margin: 30px 0px 0px 0px;
}

.fa.fa-cogs {
    font-size: 80px;
    width: 100%;
    text-align: center;
    color: #0B3456;
    margin: 30px 0px 0px 0px;
}

.fa.fa-file-image-o {
    font-size: 80px;
    width: 100%;
    text-align: center;
    color: #0B3456;
    margin: 30px 0px 0px 0px;
}

.item span {
	color: rgba(140, 139, 139, 0.81);
    font-family: raleway;
    font-size: 14px;
    font-weight: 500;
}

.login_area {
	margin: 150px auto 0px auto;
	width: 100%;
	max-width: 400px;
	text-align: center;
}

.login_area input[type=text] {
	padding: 10px;
    width: 240px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.04);
    color: white;
    font-size: 17px;
    font-family: raleway;
    font-weight: 200;
}

.login_area input[type=text]:hover {
	background: rgba(225, 225, 225, 0.1);
}

.login_area input[type=text]:focus {
	background: rgba(225, 225, 225, 0.1);
}

.login_area input[type=password] {
	padding: 10px;
    width: 240px;
    border-radius: 4px;
    border: none;
    background: rgba(255, 255, 255, 0.04);
    color: white;
    font-size: 17px;
    font-family: raleway;
    font-weight: 200;
}

.login_area input[type=password]:hover {
	background: rgba(225, 225, 225, 0.1);
}

.login_area input[type=password]:focus {
	background: rgba(225, 225, 225, 0.1);
}

.login_area input[type=submit] {
    padding: 10px 32px;
    border: none;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.04);
    color: rgba(255, 255, 255, 0.25);
    font-family: raleway;
    font-size: 15px;
}

.login_area input[type=submit]:hover {
	background: rgba(255, 255, 255, 0.15);
    color: rgba(255, 255, 255, 0.47);
    cursor: pointer;
}

.form {
	float: left;
}

.form_group {
	width: 100%;
	margin: 0px 0px 7px 0px;
}

.form_group input[type=submit] {
	margin: 7px 0px 0px 0px;
}

.login_area img {
    width: 100px;
    margin-bottom: 70px;
}

/** Input Edits */

.login_area input::-webkit-input-placeholder {
color: rgba(255, 255, 255, 0.25) !important;
}
 
.login_area input:-moz-placeholder { /* Firefox 18- */
color: rgba(255, 255, 255, 0.25) !important;  
}
 
.login_area input::-moz-placeholder {  /* Firefox 19+ */
color: rgba(255, 255, 255, 0.25) !important;  
}
 
.login_area input:-ms-input-placeholder {  
color: rgba(255, 255, 255, 0.25) !important;  
}

.login_area textarea:focus, input:focus{
    outline: none;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.error_box {
	background: rgba(255, 55, 55, 0.48);
    color: rgba(255, 255, 255, 0.73);
    width: 240px;
    margin: 0px auto 20px auto;
    padding: 10px;
    border-radius: 3px;
    font-family: raleway;
    font-size: 14px;
    font-weight: 600;
}

/* Admin Panel */

.admin_side_panel{
	width: 280px;
	background: #171D26;
	float: left;
	height: 1400px;
}

.admin_header{
	height: 235px;
    background: #EFEFEF;
    border-bottom: 1px solid #DEDEDE;
    overflow: hidden;
    text-align: center;
    font-family: open sans;
    color: rgba(0, 0, 0, 0.38);
    font-size: 33px;
    font-weight: 100;
    letter-spacing: 0.2em;
    padding: 87px 0px 0px 0px;
}

.admin_welcome {
    padding: 15px 0px 89px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.39);
}
	
.admin_welcome h2 {
    color: white;
    font-family: open sans;
    margin: 36px 0px 0px 0px;
    font-weight: 100;
    text-align: center;
    font-size: 11px;
    letter-spacing: 0.3em;
}

.admin_welcome h3 {
    color: white;
    font-family: open sans;
    margin: 0px 0px 10px 0px;
    font-weight: normal;
    text-align: center;
    font-size: 17px;
    letter-spacing: 0.2em	
}

.admin_nav {
	margin: 100px 0px;
}

.admin_nav a {
    color: white;
    text-align: center;
    font-family: open sans;
    font-size: 13px;
    letter-spacing: 0.2em;
}

.admin_nav a {
    color: white;
    text-align: center;
    font-family: open sans;
    font-size: 13px;
    letter-spacing: 0.2em;
}

.admin_nav a:hover {
	text-decoration: none;
}

.admin_nav a li {
	width: 100%;
	padding: 21px;
}

.admin_nav a li:hover {
	background: #1A212B;
	color: #FFFFFF;
}

.admin_page_title {
	margin-bottom: 40px;
	display: block;
}

.admin_page_area {
	padding: 40px;
    overflow: hidden;
    font-family: open sans;
    color: #959595;
    font-size: 21px;
    font-weight: 100;
    letter-spacing: 0.2em;
    text-align: center;
}

.admin_page_area table {
	letter-spacing: 0;
	width: 100%;
}

.admin_page_area tr {
	font-weight: 400;
	font-size: 17px;
	color: rgba(0, 0, 0, 0.65);
}

.admin_page_area tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

.admin_page_area tr:nth-child(1) {
    font-weight: 600;
    color: rgba(0, 0, 0, 0.81);
}

.admin_page_area td {
    width: 20%;
    padding: 7px;
}

.admin_page_area input {
    padding: 9px 13px;
    margin: 0px 0px 9px 0px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.18);
    font-size: 15px;
    font-family: open sans;
    letter-spacing: 0.1em;
    color: rgb(88, 88, 88);
    width: 100%;
}

.admin_page_area textarea {
	font-family: open sans;
    letter-spacing: 0.2em;
    font-size: 15px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D1D1;
    padding: 10px;
    color: rgb(88, 88, 88);
    height: 250px;
}

.admin_page_area input[type="submit"] {
    border: 1px solid rgb(37, 99, 179);
    color: rgb(255, 255, 255);
    background: #3285EF;
}

.admin_page_area input[type="submit"]:hover {
    border: 1px solid rgb(37, 99, 179);
    color: rgb(255, 255, 255);
    background: #2F7BDC;
    cursor: pointer;
}

.admin_page_area input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(88, 88, 88, 0.49);
}
.admin_page_area input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(88, 88, 88, 0.49);
}
.admin_page_area input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(88, 88, 88, 0.49);
}
.admin_page_area input:-moz-placeholder { /* Firefox 18- */
  color: rgba(88, 88, 88, 0.49);
}

.user_action {
    border: 0px;
    background: rgba(0,0,0,0);
    float: left;
    font-size: 18px;
    color: #2B2B2B;
    margin: 0px 4px 0px 0px;
    cursor: pointer;
}

#curve_chart {
	float: left;
	letter-spacing: 0.0em;
}

.admin_return {
    color: white;
    font-size: 24px;
    margin: 5px 9px;
    display: block;
}

input[type="file"] {
    opacity: 0;
    margin: -3% 0%;
}

.file_upload_button {
background: white;
    width: 100%;
    display: block;
    padding: 9px 14px;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 0.1em;
    cursor: pointer;
    font-family: open sans;
    color: #A9A9A9;
}

.file_upload_button:hover {
    border: 1px solid #95B3DA;
    background: #E1EEFF;
    color: #4A7BBB;
    -webkit-transition-duration: 0.3s;
}

.fa.fa-cloud-upload {
    color: #95B3DA;
    font-size: 20px;
    float: right;
    margin: 1px 0px;
}

.fa.fa-check {
    float: right;
    font-size: 19px;
    margin: 1px -2px;
}

.file_upload_button:hover .fa.fa-cloud-upload {
 	color: #3285EF;
    -webkit-transition-duration: 0.3s;
}

.file_upload_button_contains {
    width: 100%;
    display: block;
    padding: 9px 14px;
    border-radius: 3px;
    font-size: 15px;
    letter-spacing: 0.1em;
    font-family: open sans;
    border: 1px solid #96DA95;
    background: #E1FFE2;
    color: #4ABB4E;
}

.image_preview {
	width: 200px;
	height: 200px;
	margin: 0px 0px 30px 30px;
	display: inline-block;
    border-radius: 5px;
    word-break:break-all;
}

.image_preview:hover .hover_over {
    opacity: 1;
    -webkit-transition-duration: 0.3s;
}

.hover_over {
    background: rgba(23, 29, 38, 0.88);
    height: 200px;
    width: 200px;
    position: absolute;
    margin: -200px 0px;
    opacity: 0;
    padding: 30px;
}

.image_content {
    color: white;
    letter-spacing: 0;
    font-weight: 400;
    font-size: 27px;
    font-family: cabin;
}

.image_content .project_title {
    margin-top: 25px;
    line-height: 30px;
}

.image_content .fa {
    color: white;
    display: block;
    text-decoration: none;
    float: right;
    right: 6px;
    top: 10px;
    font-size: 22px;
    position: absolute;
    background: rgba(0,0,0,0);
    border: 0px;
}

.image_content .fa.fa-pencil {
    margin-right: 27px;
}

.form_area {
    width: 100%;
    max-width: 500px;
    margin: 100px auto;
}

.form_area .title {
    font-size: 30px;
    color: #BDBDBD;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.form_area input[type=text] {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 7px 13px;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    font-size: 15px;
    font-family: open sans;
    letter-spacing: 0.05em;
    color: #545454;
}

.form_area textarea {
    width: 100%;
    margin: 0px 0px 10px 0px;
    padding: 7px 13px;
    border: 1px solid #D2D2D2;
    border-radius: 3px;
    font-size: 15px;
    font-family: open sans;
    letter-spacing: 0.05em;
    color: #545454;
}

.form_area input[type=submit] {
    width: 73%;
    float: left;
    margin: 0% 2% 0% 0%;
    padding: 6px;
    background: #2F7BDC;
    border: 1px solid #1E559C;
    border-radius: 3px;
    color: #FFFFFF;
    font-family: open sans;
    letter-spacing: 0.05em;
}

.form_area input[type=submit]:hover {
    background: #2B6FC5;
    -webkit-transition-duration: 0.15s;
}

.form_area a {
    width: 25%;
    padding: 6px;
    display: block;
    float: left;
    text-align: center;
    background: #DC2F2F;
    border-radius: 3px;
    border: 1px solid #9C1E1E;
    color: white;
    font-family: open sans;
    letter-spacing: 0.05em;
    margin: 0% 0% 0% 0%;
    font-size: 14px;
}

.form_area a:hover {
    background: #C12A2A;
    border: 1px solid #9C1E1E;
    color: white;
    text-decoration: none;
    -webkit-transition-duration: 0.2s;

}

.create_project_button {
    letter-spacing: 0em;
    font-family: open sans;
    font-size: 14px;
    color: white;
    padding: 9px 16px;
    background: #2F7BDC;
    border-radius: 3px;
    border: 1px solid #1C5296;
    margin: -31px;
}

.create_project_button:hover {
    background: #296FC7;
    color: white;
    text-decoration: none;
}

.fa.fa-plus {
    margin: 1px 0px 0px 11px;
    font-size: 17px;
    float: right;
}
    .nav_collapsed {
        display: none;
    }

    .nav_collapsed ul a {
        display: none;
    }

    .nav_collapsed ul a:hover {
        display: none;
    }

/* Media Queries */

@media only screen and (max-width: 1100px) {
	
		[class*="col-"] {
		width: 100%;
	}

	/* Grid */

	.col-1 {width: 12.5%;}
	.col-2 {width: 25%;}
	.col-3 {width: 37.5%;}
	.col-4 {width: 50%;}
	.col-5 {width: 62.5%;}
	.col-6 {width: 75%;}
	.col-7 {width: 87.5%;}
	.col-8 {width: 100%;}

	.footer_bottom {
	    font-size: initial;
	}

	.item {
		width: 100%;
	}

	#brand {
		display: none;
	}

	.right_line {
		width: 208%;
    	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    	margin: 0px auto 0px auto;
    	float: none;
	}

	.left_line {
		display: none;
	}

	.change_pos {
		width: 100%;
	}
}

@media only screen and (max-width: 880px) {
	
		[class*="col-"] {
		width: 100%;
	}

	.container_slick {
		margin: auto;
		max-width: 600px;
		height: 100%;
	}
	
	.container_medium {
		margin: auto;
		max-width: 600px;
		height: 100%;
	}

	.container_wide {
		margin: auto;
		max-width: 600px;
		height: 100%;
	}

	.footer_bottom {
	    font-size: initial;
	}

	.item {
		width: 100%;
	}

	#menu {
		display: none;
	}

	#brand {
		display: block;
	}

	#brand_container {
		margin: auto;
		display: block;
		float: none;
	}

	#menu_collapsed {
		width: 100%;
		border-bottom: 1px solid #E8E8E8;
	}

	#menu_collapsed a {
		text-decoration: none;
	}

	#menu_collapsed a li {
	    width: 100%;
	    background: #FBFBFB;
	    text-decoration: none;
	    padding: 13px 24px;
	    color: #101010;
	    font-family: open sans;
	    font-size: 16px;
	    font-weight: 100;
	}

	#menu_collapsed a li:hover {
	    background: rgb(247, 247, 247);
    	color: #006795;
	}

	#nav {
		margin: 0;
	}

	#cover {
		margin: 0px;
	}

	.change_pos {
		width: 100%;
	}

}


@media only screen and (max-width: 650px) {
    .top_nav {
        display: none;
    }

    .top_nav_2 {
        display: none;
    }

    .fa.fa-bars {
        display: block;
        color: #FFFFFF;
        font-size: 35px;
        margin: 31px 25px;
        position: fixed;
        right: 5px;
    }

    .fa.fa-bars:hover {
        cursor: pointer;
        color: #B2E7FF;
    }

    .nav_collapsed {
        display: none;
        position: fixed;
        background: rgba(251, 251, 251, 0.81);
        right: 16px;
        left: 10px;
        top: 93px;
        border-radius: 5px;
    }

    .nav_collapsed ul a {
        display: none;
        padding: 13px 24px;
        display: block;
        color: #196698;
        font-family: open sans;
        font-weight: normal;
        letter-spacing: 0.1em;
        border-radius: 5px;
    }

    .nav_collapsed ul a:hover {
        display: none;
        text-decoration: none;
        background: rgba(146, 191, 220, 0.58);
    }

}

@media only screen and (max-width: 510px) {

	[class*="col-"] {
		width: 100%;
	}

	.footer_bottom {
	    font-size: 0.8em;
	}

	.container_slick {
		margin: auto;
		max-width: 350px;
		height: 100%;
	}

	.container_medium {
		margin: auto;
		max-width: 350px;
		height: 100%;
	}

	.container_wide {
		margin: auto;
		max-width: 350px;
		height: 100%;
	}

	#footer {
		font-size: 13px;
	}

	.social_media {
		margin: 8px auto 0px auto;
		width: 100%;
	}

	#brand_container {
		margin: 0px;
	}

	.icon_wrapper {
		margin: auto;
		width: 85px;
	}

    .top_nav {
        display: none;
    }

    .top_nav_2 {
        display: none;
    }

    #cover {
        height: 500px; 
    }

    .welcome_wrapper h1 {
        font-size: 30px;
        line-height: 70px;
    }

    .welcome_wrapper h2 {
        font-size: 45px;
        line-height: 50px;
    }

    .welcome_wrapper {
        margin-top: 5px;
    }
}

@media only screen and (max-width: 330px) {
        #cover {
        height: 420px; 
    }

    .welcome_wrapper h1 {
        font-size: 28px;
        line-height: 57px;
        margin-top: -20px;
    }

    .welcome_wrapper h2 {
        font-size: 41px;
        line-height: 42px;
        margin-top: -6px;
    }

    .welcome_wrapper {
        margin-top: 0px;
    }
}